<div class='login'>

<div class='logo'></div>

  <div class='forms'>
  <h2>LOGIN HERE</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
