<p id="notice"><%= notice %></p>

<h1><%=@nom.restaurant.name%>'s <%=@nom.food.name%></h1>

<p>
  <strong>Price:</strong>
  <%= @nom.price %>
</p>

<p>
  <strong>Votecount:</strong>
  <%= @nom.votecount %>
</p>

<p>
  <strong>Restaurant Location:</strong>
  <%= @nom.restaurant.address %>
</p>
<!-- Restaurant Location
Distance


Other FOod from this restaurant:

X
X
X -->
Votes: <%= Vote.votecounttwo(@nom.id) %>

<%= link_to 'Upvote', new_vote_path(nom_id: @nom.id, vote_type: "upvote") %> | <%= link_to 'Downvote', new_vote_path(nom_id: @nom.id, vote_type: "downvote") %>

<%= link_to 'Edit', edit_nom_path(@nom) %> |
<%= link_to 'Back', noms_path %>
