<p id="notice"><%= notice %></p>

<p> This is the item page</p>

<p>
  <strong>Food Category:</strong>
  <%= @nom.food.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @nom.price %>
</p>

<p>
  <strong>Votecount:</strong>
  <%= @nom.vote_count %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @nom.restaurant.name %>
</p>


<p>
  <strong>Restaurant Location:</strong>
  <%= @nom.restaurant.address %>
</p>
<!-- Restaurant Location
Distance


Other FOod from this restaurant:

X
X
X -->


<%= link_to 'Edit', edit_nom_path(@nom) %> |
<%= link_to 'Back', noms_path %>
